{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/Digital Society/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>Login - Digital Society</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
        
        
        
        <link rel="stylesheet" href="{% static 'userapp\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'userapp\assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'userapp\assets\css\authentication.css' %}">
        <link rel="stylesheet" href="{% static 'userapp\assets\css\color_skins.css' %}">

        <style>
            .page-header-image{
                background-image: url("{% static 'userapp/assets/images/login.jpg' %}");
            }
        </style>
        
    </head>
    
    
        <body class="theme-cyan authentication sidebar-collapse">

        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div class="container">        
                <div class="navbar-translate n_logo">
                    <a class="navbar-brand" href="javascript:void(0);" title="" target="_blank"></a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                                     
                        <li class="nav-item">
                            <a class="nav-link btn btn-white btn-round" id="sign-up" href="">SIGN UP</a>
                        <!-- <input type="submit" id="submit" class="nav-link btn btn-white btn-round " value="SIGN IN" disabled> -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="page-header">
            <div class="page-header-image"></div>

                <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">

                <form class="form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="header">
                        <div class="logo-container">
                            <img src="{% static 'userapp\assets\images\logo.svg'%}" alt="">
                        </div>
                        <h5>Log in</h5>
                        {% if s_msg %}
                        <div class="alert alert-success" role="alert">
                           {{s_msg}}
                        </div>
                        {% endif %}
                        {% if e_msg %}
                        <div class="alert alert-danger" role="alert">
                            {{e_msg}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="content">                
                        <div class="input-group input-lg">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Email">
                            <span id="my" class="input-group-addon">
                                <i class="zmdi zmdi-account-circle"></i>
                            </span>
                        </div>
                        <div class="input-group input-lg">
                            <input type="Enter Password" placeholder="Password" id="password" name="password" class="form-control">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <input type="submit" id="submit" class="btn btn-primary btn-round btn-lg btn-block " value="SIGN IN" >
                        <h5><a href="" class="link">Forgot Password?</a></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>


            
        </div>

        <!-- Scripts -->
                <script src="{% static 'userapp\assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'userapp\assets\bundles\vendorscripts.bundle.js' %}"></script>
                
    </body>
</html>
